@import "reset";
@import "vars";
@import "media";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

.header {
  width: 100%;
  background-color: $primary;
  padding: 30px 20px;
  display: flex;
  align-items: flex-end;

  span {
    color: $gray;
    font-weight: 500;
  }

  .total-balance {
    display: flex;
    flex-direction: column;

    &-text {
      margin-bottom: 5px;
    }

    &-count {
      font-size: 22px;
    }
  }

  .add-token-control {
    text-align: right;
    margin-bottom: 7px;

    a {
      padding: 7px 10px;
      background-color: lighten($primary, 10%);
      border-radius: 7px;
      transition: 0.4s;

      span + span {
        margin-left: 5px;
      }

      &:hover {
        background-color: lighten($primary, 5%)
      }
    }
  }
}

.portfolio {
  .top-bound {
    position: relative;
    padding: 30px;
    background-color: $primary;
    box-shadow: 2px 0 4px 0 $primary;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: -50%;
      right: -50%;
      width: 90%;
      height: 1px;
      background-color: fade-out($light-dark, 0.7);
      margin: 0 auto;
    }
  }
  &-container {
    padding: 0 20px;
    max-width: 1180px;
    margin: 0 auto;
  }
  &-overview {
    transform: translateY(-10px);

    &-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 10px;
      min-height: 72px;
      border-radius: 5px;
      background-color: $light;
      box-shadow: 0 0 5px 0 $gray;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        transform: scale(1.02);
      }
    }

    &-profit, &-cost {
      text-align: right;
      width: 35%;
      div:first-child {
        font-size: 15px;
        font-weight: 700;
        color: $primary;
      }

      div:last-child {
        font-size: 16px;

        @include media('<600px') {
          font-size: 13px;
          font-weight: 700;
        }
      }
    }

    &-add {
      @extend .portfolio-overview-card;
      margin-top: 16px;
      justify-content: left;
      cursor: auto;

      div {
        margin-left: 10px;
        text-align: left;
        font-size: 16px;
      }
    }
  }
}

.cryptocurrency {
  margin-top: 20px;

  &-overview {
    justify-content: space-around;
    padding: 0 20px;

    &-card {
      display: flex;
      align-items: center;
      padding: 10px 10px;
      min-height: 72px;
      border-radius: 5px;
      background-color: $light;
      box-shadow: 0 0 5px 0 $gray;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        transform: scale(1.02);
      }
    }

    &-symbol {
      width: 40%;
      span + span {
        margin-left: 5px;
      }
      @include media('<600px') {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span + span {
          margin-top: 5px;
        }
      }
    }

    &-price {
      margin-left: auto;

    }

    &-change.low > .ant-statistic-content{
        color: red!important;
    }
    &-change.up > .ant-statistic-content{
      color: green!important;
    }

    &-change, &-price {
      text-align: right;


      div:first-child {
        font-weight: 700;
        color: $primary;
      }

      div:last-child, div:first-child {
        font-size: 16px;
        @include media('<600px') {
          align-self: flex-end;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
  }
}

.currency {
  transform: translateY(-10px);
  width: 80%;
  min-height: 80vh;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: $light;
  box-shadow: 0 1px 4px 0 $gray;

  @include media('<600px') {
    width: 95%;
  }

  &-transaction-item {
    display: flex;
    align-items: center;
    .ant-statistic-title {
      font-size: 18px;
      font-weight: 600;
    }

    .ant-statistic-content {
      font-size: 16px;
      span {
        margin: 0 5px;
      }
    }
    button {
      margin-left: 30px;
      width: 25px;
      height: 25px;
    }
  }

  &-title {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $light-dark;
    span {
      color: $primary;
    }
  }

  &-transaction-btn {
    margin-top: 20px;
  }

  &-delete-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 25px;
    height: 25px;
  }
}




