@import 'styles/styles';

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-dark;
}

.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


::-webkit-scrollbar {
  width: 0.7rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 0 0 7px 7px;
}

::-webkit-scrollbar-thumb:horizontal{
  position: fixed;
  top: 0;
  background-color: $primary;
  border-radius: 0 0 7px 7px;
}

